/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-left: 12px;
}

/* HEADER */
header {
  height: 190px;
  background-color:rgb(60, 149, 238);
  background-image: url('../img/pattern.png');
  position: relative;
}

#logo {
  width: 370px;
  position: absolute;
  bottom: 20px;
  left: 12px;
}

/* MAIN */

/* SECTION TITLE */
section.title h1 {
  font-size: 72px;
  padding-top: 32px;
}

section.title div{
  color: gray;
  font-size: 35px;
  font-weight: bold;
}

section.title span {
  color: rgb(60, 149, 238);
}

section.title div.date {
  font-size: 23px;
}

/* SECTION TIM-PHOTOS */
.tim-photo {
  float: left;
  margin: 40px 12px 10px 0;
  height: 700px;
  width: calc(50% - 12px);
  background-size: cover;
  background-position: center;
}  

.tim-photo:first-child
{
  background-image: url('../img/tim-1.jpg');
}

.tim-photo:nth-child(2) {
  background-image: url('../img/tim-2.jpg');
}

.photo-credits{
  font-size: 20px;
}

p{
  padding: 20px 0;
  font-size: 24px;
}

p span{
  background-color: rgb(243, 243, 96);
}